*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'vazir';
}
@font-face {
  font-family: 'lalezar';
  src: url('../src/assets/fonts/BTitrBold_0.ttf');
}
@font-face {
  font-family: 'vazir';
  src: url('../src/assets/fonts/B-NAZANIN.TTF');
}
